<%#display article title and body%>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>


<%#link to editing pg for this article%>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>

  <%#link to destroy this article%>
  <%#method: :delete causes link to make DELETE /articles/:id reqst instead of GET%>
  <%#data: option causes confirmation dialog to appear when link is clicked. If user cancels, rqst is aborted. 
  Both of these options powered by feature of Rails called Unobtrusive JavaScript (UJS). JavaScript file that implements these is incl in Rails apps%>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete, 
                  data: { confirm: "Are you sure?" } %></li>
</ul>


