<h1>Who is doah?</h1>
<br><br>
<p class="font-likeguard text-3xl">Shenandoah is my <span class="emph">2010</span> Toyota Prius. She was given to me by my grandparents 
in Cleveland, OH on 
<span class="emph">August 07, 2020.</span>
<br>
The car especially came in handy during the <span class="emph">COVID-19 pandemic</span> for safe, mostly contactless travel.
<br>
She's served a significant amount of "road trips"--upwards of <span class="emph">20</span>. And she's still runnin' smooth, despite needing 
a couple heat shield replacements 
in the early months of <span class="emph">2021</span>. 
<br>
Notable adventures include a quick <span class="emph">24</span>-day nap at the Mt. Greylock Community Center parking lot in North Adams, MA, 
an extra-roundabout drive from
Indiana to DC, and several trips into Smoky Mountains National Park. 
<br>
GOAL: reach <span class="emph">400,000</span> miles...    <span class="emph">:)</span>
</p>

