<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>

<%= stylesheet_link_tag "stats" %>

<%= tag :meta, :name => "test", :content => @tracks.to_json %>

<h1>Stats about Doah</h1>
<br><br>
<div>
    <ul class="font-likeguard text-4xl">
        <li>
            ESTIMATED odo: <span class="stat"> <%= @odo %></span>mi
        </li>
        <br>
        <li>
            ACTUAL odo (updated 02/21/21): <span class="stat">161478</span>mi
        </li>
        <br>
        <li>
            States visited under my ownership (updated 03/01/21): <span class="stat">17</span>
        </li>
        <br>
        <li>
            Consumption average (as of 03/01/21): <span class="stat">17</span>mpg
        </li>
        <br>
        <li>
            ESTIMATED lifetime gas burned: <span class="stat">[]</span>gal
        </li>
        <br>
        <li>
            ACTUAL gas burned since 03/01/21: <span class="stat">[]</span>gal
        </li>
    </ul>
</div>

<%= javascript_include_tag "assets" %>