h1#art-title {
    color: goldenrod;
}

.art-body {
    font-size: 3rem;
    line-height: 150%;
}

.create-button {
    padding: 4px;
}

.create-button:hover {
    background-color: purple;
    color: white;
}