// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-field {
    font-family: sans-serif;
}

.create-button {
    padding: 4px;
}

.create-button:hover {
    background-color: purple;
    color: white;
}

