// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.create-button {
    padding: 4px;
}

.create-button:hover {
    background-color: purple;
    color: white;
}

.form-header {
    font-size: 30px;
}

.destroy {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.destroy:hover {
    color:darkred;
}