@tailwind base;

@tailwind components;

.test-tw {
  @apply bg-green-500
}

@tailwind utilities;

@font-face {
    font-family: "our-goodwill";
    src: url(our-goodwill/Our\ Goodwill.otf) format('opentype');
}

@font-face {
    font-family: "cimero";
    src: url(cimero/CimeroPro.otf) format('opentype');
}

@font-face {
    font-family: "jonks";
    src: url(jonks/Jonks\ Font\ Free\ Trial.otf) format('opentype');
}

@font-face {
    font-family: "lemon-milk";
    src: url(lemon-milk/LemonMilk.otf) format('opentype');
}

@font-face {
    font-family: "likeguard";
    src: url(likeguard/LikeguardDemoBold.ttf) format('truetype');
}

@font-face {
    font-family: "wavemax";
    src: url(wavemax/wv/Wavemax\ Trial.otf) format('opentype');
}

html {
    height: 100%;
}
  
body {
    height: 100%;
}

main {
    height: 100%;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas: "Header Header"
                         "Nav Content";
}

.font-jonks {
    font-family: "jonks", monospace;
}

.font-likeguard {
    font-family: "likeguard", monospace;
}

.font-wavemax {
    font-family: "wavemax", monospace;
}

.Header {
    grid-area: Header; 
    font-family: "cimero", monospace;
}

.Header h1 {
    font-size: 5rem;
}

.Header h1:hover {
    color: white;
}

.Header h1:active {
    color: black;
}

.Nav { 
    grid-area: Nav; 
}

.Content { 
    grid-area: Content; 
    font-family: "our-goodwill", monospace;
}

.Content h1 {
    font-size: 5rem;
}

.Content h2 {
    font-size: 3rem;
}

.Content .medium {
    font-size: 2rem;
}

ul {
    list-style-type:disc;
}
  
.ul-lvl2 {
    list-style-type: square;
}

.emph {
    font-family: monospace;
    font-size: 3rem;
}

.article-link {

}

.article-link:hover {
    color: green;
}

.article-link:active {
    color: purple;
}

.new-art-button:hover {
    background-color:brown;
}