#mapid { 
    height: 600px; 
    width: 850px;
    position: relative;
}

#loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    z-index: 99;
  }
  
#loading-image {
    position: absolute;
    top: 520px;
    left: 620px;
    z-index: 100;
}